#CF {
    width: 100%;
    height: 5300px;
}
#CF .content{
    width: 1140px;
    margin: auto;
}
#CF .header{
    width: 1300px;
    height: 83px;
    background-color: #fff;
}
#CF .header img{
    width: 390px;
    height: 100%;
    float: left;
}


#CF .header .content ul li{
   float: left;
   width: 70px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   margin-left: 20px;
   padding-top: 25px;
  }
  #CF .header .content ul li a{
    display: block;
  }
  #CF .header .content .eng{
      display: none;
  }

#CF .header .content ul li:hover .chi{
    display: none;
}
#CF .header .content ul li:hover .eng{
    display: block;
}

#CF .banner{
    width: 100%;
    height: 448px;
    background: url(../images/5a5d727961540.jpg);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-color: #232323;
   
}
#CF .main1 {
    margin-top: 42px;
    background-color: #Fff;
    width: 100%;
    height: 608px;
    text-align: center
}
#CF .main1 p{
  color: #666;
  margin-top: 25px;
}
#CF .main1 .box1{
    width: 351px;
    height: 218px;
    background-color: #fff;
    margin-top: 57px;
    margin-left: 43px;
    float: left;
    position: relative;
}
#CF .main1 .box1 .box1-1-1{
  width: 228px;height: 71px;
  background-color: #1496d6;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 22px;
  color: white;
  line-height: 71px;
}
#CF .main1 .box1 .box1-1-2{
  width: 228px;height: 71px;
  background-color: #0a60dd;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 22px;
  color: white;
  line-height: 71px;
}
#CF .main1 .box1 .box1-1-3{
  width: 228px;height: 71px;
  background-color: #fbcb10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 22px;
  color: white;
  line-height: 71px;
}
#CF .main1 .box1 .box1-1-4{
  width: 228px;height: 71px;
  background-color: #d8077a;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 22px;
  color: white;
  line-height: 71px;
}
#CF .main1 .box1 .box1-1-5{
  width: 228px;height: 71px;
  background-color: #f32626;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 22px;
  color: white;
  line-height: 71px;
}
#CF .main1 .box1 .box1-1-6{
  width: 228px;height: 71px;
  background-color: #98c733;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 22px;
  color: white;
  line-height: 71px;
}

#CF .main1 .box1 .box1-2{
  width: 352px;
  height: 0px;
  background-color: #1496d6;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
 
}
#CF .main1 .box1 .box1-2-2{
  width: 352px;
  height: 0px;
  background-color: #0a60dd;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
 
}
#CF .main1 .box1 .box1-2-3{
  width: 352px;
  height: 0px;
  background-color: #fbcb10;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
 
}
#CF .main1 .box1 .box1-2-4{
  width: 352px;
  height: 0px;
  background-color: #d8077a;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
 
}
#CF .main1 .box1 .box1-2-5{
  width: 352px;
  height: 0px;
  background-color: #f32626;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
 
}
#CF .main1 .box1 .box1-2-6{
  width: 352px;
  height: 0px;
  background-color: #98c733;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
 
}

#CF .main1 .box1  p{
 margin-top: 80px;
 color: white;
 font-size: 15px;

 height: 0px;
 display: none;
}
#CF .main1 .box1:hover .box1-2{
  height: 218px;
  transition: height 0.5s;
  overflow: hidden;
}
#CF .main1 .box1:hover .box1-2 p{
  display: block;
  height: 15px;
}
#CF .main1 .box1:hover .box1-2-2{
  height: 218px;
  transition: height 0.5s;
  overflow: hidden;
}
#CF .main1 .box1:hover .box1-2-2 p{
  display: block;
  height: 15px;
}
#CF .main1 .box1:hover .box1-2-3{
  height: 218px;
  transition: height 0.5s;
  overflow: hidden;
}
#CF .main1 .box1:hover .box1-2-3 p{
  display: block;
  height: 15px;
}
#CF .main1 .box1:hover .box1-2-4{
  height: 218px;
  transition: height 0.5s;
  overflow: hidden;
}
#CF .main1 .box1:hover .box1-2-4 p{
  display: block;
  height: 15px;
}
#CF .main1 .box1:hover .box1-2-5{
  height: 218px;
  transition: height 0.5s;
  overflow: hidden;
}
#CF .main1 .box1:hover .box1-2-5 p{
  display: block;
  height: 15px;
}
#CF .main1 .box1:hover .box1-2-6{
  height: 218px;
  transition: height 0.5s;
  overflow: hidden;
}
#CF .main1 .box1:hover .box1-2-6 p{
  display: block;
  height: 15px;
}







#CF .main2 .box1 dl dt .a1{
  width: 283px;
  height: 166px;
  float: left;
    object-fit:cover;
    display: block;
}
#CF .main2 .box1 dl span .a2{
width: 283px;
height: 164px;
float: left;
  object-fit:cover;
  display: none;

}
#CF .main2 .box1 dl div:hover .a1{
  display: none;
}
#CF .main2 .box1 dl div:hover .a2{
  display: block;
}
#CF .main2{
    text-align: center;
    width: 100%;height: 763px;
    background-color: #ebeff2;
    margin-top: 77px;
}
#CF .main2 .box1{
    width: 100%;
    height: 502px;
    background-color: #fff;
    margin-top: 57px;
}
#CF .main2 p{
    color: #666;
    margin-top: 25px;
  }
#CF .main2 .box1 dl dt{
    float: left;
    border-right: 2px #ebeff2 solid;
    border-bottom: 2px #ebeff2 solid;
}
#CF .main2 .box1 dl span{
  float: left;
  border-right: 2px #ebeff2 solid;
  border-bottom: 2px #ebeff2 solid;
}
#CF .main2 .box2{
  width: 285px;
height: 168px;
float: left;
}








#CF .main3{
    text-align: center;
    width: 100%;height: 682px;
    background-color: #fff;

}
#CF .main3 .box1{
    width: 100%;
    text-align: center
}
#CF .main3 p{
    color: #666;
    margin-top: 25px;
  }
  #CF .main3 dl dt img{
      width: 283px;
      height: 211px;
      float: left;
      object-fit:cover;
      border-right: solid #fff 2px;
      border-bottom: solid #fff 2px;
    }








#CF .main4{
    width: 100%;
    height: 800px;
    background:url(../images/ind_news_bg.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
}
#CF .main4 p{
    color: #666;
    margin-top: 25px;
    margin-bottom: 41px;
  }
  #CF .main4 .content .box1{
      width: 550px;
      height: 166px;
      background-color: #fff;
      float: left;
      margin-top: 15px;
  }
  #CF .main4 .content .box2{
    width: 550px;
    height: 166px;
    margin-left: 40px;
    margin-top: 15px;
    background-color: #fff;
    float: left;
}
#CF .main4 .content .box2 img{
    width: 170px;height: 166px;
    object-fit:cover;
    float: left;
}
#CF .main4 .content .box1 img{
    width: 170px;height: 166px;
    object-fit:cover;
    float: left;

}
#CF .main4 .content .box1 h3{
    padding-top: 29px;
margin-left: 20px;
float: left;

}
#CF .main4 .content .box2 h3{
  padding-top: 29px;
margin-left: 20px;
float: left;

}
#CF .main4 .content .box1 p{
    float: left;
    color: #777;
    margin-top: 18px;
    width: 325px;
    text-indent: 1em;
    font-size:14px;
    height: 54px;
    margin-left: 19px;
    text-align: left;
    margin-bottom: 0px;
}
#CF .main4 .content .box2 p{
  float: left;
  color: #777;
  margin-top: 18px;
  width: 325px;
  text-indent: 1em;
  font-size:14px;
  height: 54px;
  margin-left: 19px;
  text-align: left;
  margin-bottom: 0px;
}
#CF .main4 .content .box1 .p1{
    float: left;
    color: #cfcccf;
    margin-top: 19px;
    font-size:14px;
    width: 100px;

    padding-left: 0px;
    margin-left: 0px;
}
#CF .main4 .content .box2 .p1{
  float: left;
  color: #cfcccf;
  margin-top: 19px;
  font-size:14px;
  width: 100px;

  padding-left: 0px;
  margin-left: 0px;
}
#CF .main4 .content .box1 .p2{
    float: right;
    color: #cfcccf;
   width: 100px;
   margin-right: 30px;
}
#CF .main4 .content .box2 .p2{
  float: right;
  color: #cfcccf;
 width: 100px;
 margin-right: 30px;
}

#CF .main4 .content a:hover{
  color: skyblue;
}









#CF .main5 {
  text-align: center;
  margin-top: 42px;;
  width: 100%;
  height: 912px;
  background-color: #ccc;
}
#CF .main5 p{
  color: #666;
  margin-top: 25px;
  margin-bottom: 41px;
}






#CF .main6 {
  width: 100%;
  height: 224px;
  background: url(../images/blue-bg.png)
;
overflow: hidden;
}
#CF .main6 .num{
  border-right: 1px #0052a7 solid;
  width: 376px;
  height: 224px;
  text-align: center;
float: left;
}

#CF .main6 h2{
  font-size: 90px;
position: relative;
color: #fff;
margin-top: 20px;
}
#CF .main6 h2 .border{
  height: 3px;
  width: 100%;
  background: url(../images/blue-bg.png);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}






#CF .footer{
  width: 100%;
  height: 664px;
  background:url(../images/footer_bj.jpg) ;
text-align: center;
overflow: hidden;
background-repeat: no-repeat;
background-position: center center;
}
#CF .footer h2{
  margin-top: 42px;
}
#CF .footer h3{
  color:#fff;
  font-size: 22px;
  margin-top: 43px;
}

