#blog {
  width: 100%;
}

#blog header {
  width: 100%;
  height: 220px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog .nav {
  width: 100%;
  height: 58px;
  border-bottom: #f0f0f0 solid 2px;
  border-top: #f0f0f0 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog .nav li {
  width: 70px;
  height: 100%;
  line-height: 58px;
  text-align: center;
}

#blog .nav li:hover {
  border-bottom: 2px orange solid;
}

#blog main {
  background-color: #ebebeb;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 105px solid #ebebeb;
}

#blog main .sc1 {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#blog main .sc1 .sca {
  width: 100%;
  height: 410px;
  background-color: #fff;
  margin-top: 35px;
}

#blog main .sc1 .sca h2 {
  font-size: 35px;
  margin-top: 40px;
}

#blog main .sc1 .sca .p1 {
  font-style: 12px;
  margin-top: 20px;
}

#blog main .sc1 .sca .p2 {
  margin: 43px 35px 35px;
  width: 90%;
  font-size: 18px;
}

#blog main .sc1 .sca .sca1 {
  width: 85px;
  height: 35px;
  background-color: orange;
  border-radius: 3px;
  color: white;
  line-height: 35px;
  margin-left: 35px;
}

#blog main .sc1 .scb {
  width: 100%;
  height: 880px;
  background-color: #fff;
  margin-top: 35px;
}

#blog main .sc1 .scb img {
  width: 90%;
  height: 305px;
  margin-top: 35px;
}

#blog main .sc1 .scb .img1 {
  width: 90%;
  height: 430px;
  margin-top: 35px;
}

#blog main .sc1 .scb h2 {
  font-size: 35px;
  margin: auto;
  margin-top: 40px;
  width: 90%;
}

#blog main .sc1 .scb .p1 {
  font-style: 12px;
  margin-top: 20px;
}

#blog main .sc1 .scb .p2 {
  margin: 43px 35px 35px;
  width: 90%;
  font-size: 18px;
}

#blog main .sc1 .scb .sca1 {
  width: 85px;
  height: 35px;
  background-color: orange;
  border-radius: 3px;
  color: white;
  line-height: 35px;
  margin-left: 35px;
}

#blog main .sc1 .scd {
  width: 100%;
  background-color: #fff;
  margin-top: 35px;
  height: 200px;
}

#blog main .sc1 .scd .p3 {
  width: 90px;
  height: 30px;
  font-size: 20px;
  border-bottom: 2px solid orange;
  padding-top: 23px;
  margin-left: 30px;
  text-align: left;
}

#blog main .sc1 .scd .p4 {
  font-size: 12px;
  color: #505050;
  margin-left: 30px;
  margin-top: 27px;
  text-align: left;
}

#blog main .sc1 .scd .p5 {
  color: orange;
  margin-top: 23px;
  margin-left: 30px;
  font-size: 12px;
  text-align: left;
}

#blog main .sc1 .sce {
  width: 100%;
  height: 130px;
  background-color: #fff;
  margin-top: 35px;
}

#blog main .sc1 .sce .p3 {
  width: 190px;
  height: 30px;
  font-size: 20px;
  text-align: left;
  padding-top: 23px;
  margin-left: 30px;
}

#blog main .sc1 .sce .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  margin-left: 30px;
}

#blog main .sc1 .sce .dow {
  width: 91.5%;
  height: 35px;
  background-color: orange;
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 35px;
}

#blog main .sc1 .scf {
  width: 100%;
  background-color: #fff;
  margin-top: 35px;
}

#blog main .sc1 .scf .p3 {
  width: 190px;
  height: 30px;
  font-size: 20px;
  text-align: left;
  padding-top: 23px;
  margin-left: 30px;
}

#blog main .sc1 .scf .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  margin-left: 30px;
}

#blog main .sc1 .scf ul {
  display: flex;
  width: 91.5%;
  height: auto;
  margin-top: 23px;
  margin-left: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#blog main .sc1 .scf li {
  border: 1px solid #ccc;
  margin-left: 20px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #959595;
}

#blog main .sc1 .scf li i {
  padding: 5px;
}

#blog main .sc2 {
  width: 360px;
}

#blog main .sc2 .sc2a {
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-top: 35px;
  margin-left: 30px;
}

#blog main .sc2 .sc2a .p3 {
  width: 90px;
  height: 30px;
  font-size: 20px;
  border-bottom: 2px solid orange;
  padding-top: 23px;
  margin-left: 30px;
}

#blog main .sc2 .sc2a .p4 {
  font-size: 12px;
  color: #505050;
  margin-left: 30px;
  margin-top: 27px;
}

#blog main .sc2 .sc2a .p5 {
  color: orange;
  margin-top: 23px;
  margin-left: 30px;
  font-size: 12px;
}

#blog main .sc2 .sc2b {
  width: 100%;
  height: 130px;
  background-color: #fff;
  margin-top: 35px;
  margin-left: 30px;
}

#blog main .sc2 .sc2b .p3 {
  width: 190px;
  height: 30px;
  font-size: 20px;
  padding-top: 23px;
  margin-left: 30px;
}

#blog main .sc2 .sc2b .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  margin-left: 30px;
}

#blog main .sc2 .sc2b .dow {
  width: 300px;
  height: 35px;
  background-color: orange;
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 35px;
}

#blog main .sc2 .sc2c {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 35px;
  margin-left: 30px;
}

#blog main .sc2 .sc2c .p3 {
  width: 190px;
  height: 30px;
  font-size: 20px;
  padding-top: 23px;
  margin-left: 30px;
}

#blog main .sc2 .sc2c .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  margin-left: 30px;
}

#blog main .sc2 .sc2c ul {
  display: flex;
  width: 294px;
  height: auto;
  margin-top: 23px;
  margin-left: 30px;
  flex-wrap: wrap;
}

#blog main .sc2 .sc2c li {
  border: 1px solid #ccc;
  margin-left: 10px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #959595;
}

#blog main .sc2 .sc2c li i {
  padding: 5px;
}

#blog footer {
  width: 100%;
  height: auto;
  background-color: #202020;
  overflow: hidden;
}

#blog footer .F1 {
  display: flex;
  justify-content: center;
}

#blog footer .F1 .ft1 {
  width: 390px;
  height: 100%;
  margin-top: 35px;
}

#blog footer .F1 .ft1 h2 {
  font-size: 22px;
  color: #fff;
}

#blog footer .F1 .ft1 .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  float: left;
}

#blog footer .F1 .ft1 .bd2 {
  height: 2px;
  width: 210px;
  border-bottom: 2px solid #303030;
  float: left;
}

#blog footer .F1 .ft1 .p1 {
  margin-top: 15px;
  font-size: 12px;
  color: #959595;
}

#blog footer .F1 .ft1 .p2 {
  font-size: 12px;
  margin-top: 12px;
  color: #505050;
}

#blog footer .F1 .ft1 .bd3 {
  height: 2px;
  width: 300px;
  border-bottom: 2px dashed #303030;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog footer .F1 .ft2 {
  margin-top: 35px;
  width: 390px;
  height: 300px;
}

#blog footer .F1 .ft2 h2 {
  font-size: 22px;
  color: #fff;
}

#blog footer .F1 .ft2 .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  float: left;
}

#blog footer .F1 .ft2 .bd2 {
  height: 2px;
  width: 210px;
  border-bottom: 2px solid #303030;
  float: left;
}

#blog footer .F1 .ft2 ul {
  display: flex;
  width: 294px;
  height: 200px;
  margin-top: 23px;
  flex-wrap: wrap;
  margin-left: -10px;
}

#blog footer .F1 .ft2 ul li {
  border: 1px solid #ccc;
  margin-left: 10px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #959595;
}

#blog footer .F1 .ft2 ul li i {
  padding: 10px;
}

#blog footer .F1 .ft3 {
  width: 310px;
  height: 100%;
  margin-top: 35px;
}

#blog footer .F1 .ft3 h2 {
  font-size: 22px;
  color: #fff;
}

#blog footer .F1 .ft3 .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  float: left;
}

#blog footer .F1 .ft3 .bd2 {
  height: 2px;
  width: 210px;
  border-bottom: 2px solid #303030;
  float: left;
}

#blog footer .F1 .ft3 .bd3 {
  height: 2px;
  width: 300px;
  border-bottom: 2px dashed #303030;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog footer .F1 .ft3 ul {
  display: flex;
  width: 224px;
  margin-top: 23px;
  flex-wrap: wrap;
  margin-left: -10px;
}

#blog footer .F1 .ft3 ul li {
  margin-left: 20px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #959595;
}

#blog footer .F2 {
  display: flex;
  flex-direction: column;
}

#blog footer .F2 .ft4 {
  height: 100%;
  margin: auto;
  width: 80%;
}

#blog footer .F2 .ft4 h2 {
  font-size: 22px;
  color: #fff;
}

#blog footer .F2 .ft4 .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  float: left;
}

#blog footer .F2 .ft4 .bd2 {
  height: 2px;
  width: 100%;
  border-bottom: 2px solid #303030;
  float: left;
}

#blog footer .F2 .ft4 .p1 {
  margin-top: 15px;
  font-size: 12px;
  color: #959595;
}

#blog footer .F2 .ft4 .p2 {
  font-size: 12px;
  margin-top: 12px;
  color: #505050;
}

#blog footer .F2 .ft4 .bd4 {
  height: 2px;
  border-bottom: 2px dashed #303030;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog footer .F2 .ft5 {
  margin: auto;
  width: 80%;
}

#blog footer .F2 .ft5 h2 {
  font-size: 22px;
  color: #fff;
}

#blog footer .F2 .ft5 .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  float: left;
}

#blog footer .F2 .ft5 .bd2 {
  height: 2px;
  width: 210px;
  border-bottom: 2px solid #303030;
  float: left;
}

#blog footer .F2 .ft5 ul {
  display: flex;
  margin-top: 23px;
  flex-wrap: wrap;
  margin-left: -10px;
}

#blog footer .F2 .ft5 ul li {
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 7px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #959595;
}

#blog footer .F2 .ft5 ul li i {
  padding: 10px;
}

#blog footer .F2 .ft6 {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  height: 350px;
}

#blog footer .F2 .ft6 h2 {
  font-size: 22px;
  color: #fff;
}

#blog footer .F2 .ft6 .bd {
  height: 2px;
  width: 90px;
  border-bottom: 2px solid orange;
  float: left;
}

#blog footer .F2 .ft6 .bd2 {
  height: 2px;
  width: 100%;
  border-bottom: 2px solid #303030;
  float: left;
}

#blog footer .F2 .ft6 .bd3 {
  height: 2px;
  width: 100%;
  border-bottom: 2px dashed #303030;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog footer .F2 .ft6 ul {
  display: flex;
  margin-top: 23px;
  flex-wrap: wrap;
  margin-left: -10px;
}

#blog footer .F2 .ft6 ul li {
  margin-left: 20px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #959595;
}
