#blog{
width: 100%;
     header{
         width: 100%;
         height: 220px;
         margin: auto;
         display: flex;
         justify-content: center;
         align-items: center;

        }
        .nav{
           
            width: 100% ;
            height: 58px;
            border-bottom: #f0f0f0 solid 2px;
            border-top: #f0f0f0 solid 2px;
            display: flex;
            justify-content: center;
            align-items: center;
          
            li{
               width: 70px;
height: 100%;
line-height: 58px;
text-align: center;
            }
            li:hover{
                border-bottom: 2px orange solid;
            }
            
        }
        main{
            background-color: #ebebeb;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            border-bottom: 105px solid #ebebeb;

            .sc1{
                width: 65%;height: auto;
                
                display: flex;
                flex-direction: column;
                text-align: center;
               .sca{
                   width: 100%;
                   height: 410px;
                   background-color: #fff;
                   margin-top: 35px;

                h2{
                    font-size: 35px;
                    margin-top: 40px;
                }
                .p1{
                    font-style: 12px;
                    margin-top: 20px;

                }
                .p2{
                    margin: 43px 35px 35px;
                    width: 90%;
                    font-size: 18px;
                }
                .sca1{
                    width: 85px;height: 35px;
                    background-color: orange;
                    border-radius: 3px;
                    color: white;
                    line-height: 35px;
                    margin-left: 35px;
                }
            }
            .scb{
                width: 100%;height: 880px;
                background-color: #fff;
                margin-top: 35px;

                img{
                    width: 90%;height: 305px;
                    margin-top: 35px;
                }
                .img1{
                    width: 90%;height: 430px;
                    margin-top: 35px;
                }
                h2{
                    font-size: 35px;
                    margin: auto;
                    margin-top: 40px;
                    width: 90%;
                    
                }
                .p1{
                    font-style: 12px;
                    margin-top: 20px;

                }
                .p2{
                    margin: 43px 35px 35px;
                    width: 90%;
                    font-size: 18px;
                }
                .sca1{
                    width: 85px;height: 35px;
                    background-color: orange;
                    border-radius: 3px;
                    color: white;
                    line-height: 35px;
                    margin-left: 35px;
                }
            }
                 .scd{
               
                     width: 100%;
                     background-color: #fff;
                     margin-top: 35px;
                     height: 200px;
                     .p3{
                        width: 90px;height: 30px;
                        font-size: 20px;
                        border-bottom: 2px solid orange;
                        padding-top: 23px;margin-left: 30px;
                        text-align: left;
                     }
                     .p4{
                         font-size: 12px;
                        color: #505050;
                        margin-left: 30px;margin-top: 27px;
                        text-align: left;
                     }
                     .p5{
                        color: orange;
                        margin-top: 23px;
                        margin-left: 30px;
                        font-size: 12px;
                        text-align: left;
                     }

                 }
                 .sce{
                    width: 100%;height: 130px;
                    background-color: #fff;
                    margin-top: 35px;
                 

                    .p3{
                        width: 190px;height: 30px;
                        font-size: 20px;
                        text-align: left;
                        padding-top: 23px;margin-left: 30px;
                    }
                    .bd{
                        height: 2px;width: 90px;
                        border-bottom: 2px solid orange;
                        margin-left: 30px;
                    }
                    .dow{
                        width: 91.5%;height: 35px;
                        background-color: orange;
                        border-radius: 3px;
                        color: white;
                        text-align: center;
                        margin-left: 30px;margin-top: 20px;
                        line-height: 35px;
                    }
                 }
                 .scf{
                    width: 100%;
                    background-color: #fff;
                    margin-top: 35px;
     

                    .p3{
                        width: 190px;height: 30px;
                        font-size: 20px;
                        text-align: left;
                        padding-top: 23px;margin-left: 30px;
                    }
                    .bd{
                        height: 2px;width: 90px;
                        border-bottom: 2px solid orange;
                        margin-left: 30px;
                    }
                    ul{
                        display: flex;
                        width: 91.5%;height: auto;
                        margin-top: 23px;margin-left: 30px;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                    li{
                        border: 1px solid #ccc;
                        margin-left: 20px;
                        text-align: center;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                        color: #959595;
                        i{
                            padding: 5px;
                        }
                    }
                    
                }
            }
                .sc2{
                    width: 360px;
                    .sc2a{
                        width: 100%;
                        height: 200px;
                        background-color: #fff;
                        margin-top: 35px;margin-left: 30px;

                        .p3{
                            width: 90px;height: 30px;
                            font-size: 20px;
                            border-bottom: 2px solid orange;
                            padding-top: 23px;margin-left: 30px;
                        }
                        .p4{
                            font-size: 12px;
                            color: #505050;
                            margin-left: 30px;margin-top: 27px;
                        }
                        .p5{
                            color: orange;
                            margin-top: 23px;
                            margin-left: 30px;
                            font-size: 12px;
                        }
                    }
                    .sc2b{
                        width: 100%;height: 130px;
                        background-color: #fff;
                        margin-top: 35px;margin-left: 30px;

                        .p3{
                            width: 190px;height: 30px;
                            font-size: 20px;
                            
                            padding-top: 23px;margin-left: 30px;
                        }
                        .bd{
                            height: 2px;width: 90px;
                            border-bottom: 2px solid orange;
                            margin-left: 30px;
                        }
                        .dow{
                            width: 300px;height: 35px;
                            background-color: orange;
                            border-radius: 3px;
                            color: white;
                            text-align: center;
                            margin-left: 30px;margin-top: 20px;
                            line-height: 35px;
                        }
                    }
                    .sc2c{
                        width: 100%;height: auto;
                        background-color: #fff;
                        margin-top: 35px;margin-left: 30px;

                        .p3{
                            width: 190px;height: 30px;
                            font-size: 20px;
                            
                            padding-top: 23px;margin-left: 30px;
                        }
                        .bd{
                            height: 2px;width: 90px;
                            border-bottom: 2px solid orange;
                            margin-left: 30px;
                        }
                        ul{
                            display: flex;
                            width: 294px;height: auto;
                            margin-top: 23px;margin-left: 30px;
                            flex-wrap: wrap;
                        }
                        li{
                            border: 1px solid #ccc;
                            margin-left: 10px;
                            text-align: center;
                            height: 25px;
                            line-height: 25px;
                            font-size: 12px;
                            color: #959595;
                            i{
                                padding: 5px;
                            }
                        }
                        
                    }
                }
        }
        footer{
            
            width: 100%;
            height: auto;
            background-color: #202020;
            overflow: hidden;
           
            .F1{
            display: flex;
            justify-content: center;

            .ft1{
                width: 390px;height: 100%;
                margin-top: 35px;
                
                h2{
                    font-size: 22px;
                    color: #fff;
                }

                .bd{
                    height: 2px;width: 90px;
                    border-bottom: 2px solid orange;
                    float: left;
                }
                .bd2{
                    height: 2px;width: 210px;
                    border-bottom: 2px solid #303030;
                    float: left;
                }
                .p1{
                    margin-top: 15px;
                    font-size: 12px; 
                    color: #959595;
                }
                .p2{
                    font-size: 12px;
                    margin-top: 12px;
                    color: #505050;
                }
                .bd3{
                    height: 2px;width: 300px;
                    border-bottom: 2px dashed #303030;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
            .ft2{
                
            margin-top: 35px;
                width: 390px;height: 300px;
                h2{
                    font-size: 22px;
                    color: #fff;
                }
                .bd{
                    height: 2px;width: 90px;
                    border-bottom: 2px solid orange;
                    float: left;
                }
                .bd2{
                    height: 2px;width: 210px;
                    border-bottom: 2px solid #303030;
                    float: left;
                }
                ul{
                    display: flex;
                    width: 294px;height: 200px;
                    margin-top: 23px;
                    flex-wrap: wrap;
                    margin-left: -10px;
                
                li{
                    border: 1px solid #ccc;
                    margin-left: 10px;
                    text-align: center;
                    height: 25px;
                    line-height: 25px;
                    font-size: 12px;
                    color: #959595;
                    i{
                        padding: 10px;
                    }
                }
            }
            }
            .ft3{
               
                width: 310px;height: 100%;
                margin-top: 35px;
                h2{
                    font-size: 22px;
                    color: #fff;
                }

                .bd{
                    height: 2px;width: 90px;
                    border-bottom: 2px solid orange;
                    float: left;
                }
                .bd2{
                    height: 2px;width: 210px;
                    border-bottom: 2px solid #303030;
                    float: left;
                }
                .bd3{
                    height: 2px;width: 300px;       
                    border-bottom: 2px dashed #303030;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                ul{
                    display: flex;
                    width: 224px;
                    margin-top: 23px;
                    flex-wrap: wrap;
                    margin-left: -10px;
                    li{
                        margin-left: 20px;
                        text-align: center;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                        color: #959595;
        
                    }
                }
        }
    }
    .F2{
        display: flex;
        flex-direction: column;
        .ft4{
            height: 100%;
            margin: auto;
           width: 80%;
            h2{
                font-size: 22px;
                color: #fff;
            }

            .bd{
                height: 2px;width: 90px;
                border-bottom: 2px solid orange;
                float: left;
            }
            .bd2{
                height: 2px;width: 100%;
                border-bottom: 2px solid #303030;
                float: left;
            }
            .p1{
                margin-top: 15px;
                font-size: 12px; 
                color: #959595;
            }
            .p2{
                font-size: 12px;
                margin-top: 12px;
                color: #505050;
            }
            .bd4{
                height: 2px;   
                border-bottom: 2px dashed #303030;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .ft5{
            
            margin: auto;
           width: 80%;
                h2{
                    font-size: 22px;
                    color: #fff;
                }
                .bd{
                    height: 2px;width: 90px;
                    border-bottom: 2px solid orange;
                    float: left;
                }
                .bd2{
                    height: 2px;width: 210px;
                    border-bottom: 2px solid #303030;
                    float: left;
                }
                ul{
                    display: flex;
                    
                    margin-top: 23px;
                    flex-wrap: wrap;
                    margin-left: -10px;
                
                li{
                    border: 1px solid #ccc;
                    margin-left: 10px;
                    margin-top: 7px;
                    text-align: center;
                    height: 25px;
                    line-height: 25px;
                    font-size: 12px;
                    color: #959595;
                    i{
                        padding: 10px;
                    }
                }
            }
            }
            .ft6{
                width: 80%;
                margin:auto;
                margin-top: 25px;
                height: 350px;
                h2{
                    font-size: 22px;
                    color: #fff;
                }

                .bd{
                    height: 2px;width: 90px;
                    border-bottom: 2px solid orange;
                    float: left;
                }
                .bd2{
                    height: 2px;width: 100%;
                    border-bottom: 2px solid #303030;
                    float: left;
                }
                .bd3{
                    height: 2px;width: 100%;       
                    border-bottom: 2px dashed #303030;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                ul{
                    display: flex;
                    margin-top: 23px;
                    flex-wrap: wrap;
                    margin-left: -10px;
                    li{
                        margin-left: 20px;
                        text-align: center;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                        color: #959595;
        
                    }
                }
        }
    }
    }
}
